<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.spotlightManager</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/ankushgirotra/.spotlight-manager/job.bash</string>
    </array>
    <key>StartInterval</key>
    <integer>5</integer>
    <key>StandardErrorPath</key>
    <string>/Users/ankushgirotra/.spotlight-manager/err.log</string>
    <key>StandardOutPath</key>
    <string>/Users/ankushgirotra/.spotlight-manager/out.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
  </dict>
</plist>